 <div class="card">
                <table class="table">
    <thead>
        <tr>
            <th class="text-center">id</th>
            <th>Titulo</th>
            <th>Prioridad</th>
            <th>Horas</th>

            <th class="text-right">Actions</th>
        </tr>
    </thead>
    <tbody>
        
        {% for task in mitarea %}
        <tr>
           <td>{{task.id}}</td> 
           <td>{{task.title}}</td>
           <td>{{task.priority}}</td>
           <td>{{task.hours}}</td>
           <td class="td-actions text-right">
              <a  href="{{ path('task_detail', {'id':task.id})}}" class="btn btn-info btn-sm btn-round btn-icon">
                  <i class="fas fa-edit"></i>
              </a>
              <a  href="{{ path('task_edit', {'id':task.id})}}" rel="tooltip" class="btn btn-success btn-sm btn-round btn-icon">
                  <i class="fas fa-info"></i>
              </a>
              <button type="button" rel="tooltip" class="btn btn-danger btn-sm btn-round btn-icon">
                 <i class="fas fa-trash-alt"></i>
              </button>
            </td>
        </tr>
        {% endfor %}
        
    </tbody>
</table>
        </div>